---
openapi: 3.0.0
info:
  title: Relic Link API
  description: ""
  version: "2022.11.01"
servers:
  - url: https://aoe-api.reliclink.com
paths:
  /community/external/proxysteamuserrequest:
    get:
      parameters:
        - $ref: "#/components/parameters/SteamRequestCom"
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profile_idsCom"
        - $ref: "#/components/parameters/profileNamesCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Model3"
  /community/leaderboard/GetPersonalStat:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profile_idsCom"
        - $ref: "#/components/parameters/profile_namesCom"
        - $ref: "#/components/parameters/aliasesCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Model4"
  /community/leaderboard/getRecentMatchHistory:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profile_idsCom"
        - $ref: "#/components/parameters/profile_namesCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Model2"
  /community/advertisement/findAdvertisements:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
  /community/leaderboard/GetAvatarStatForProfile:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profile_namesCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
  /community/achievement/getAchievements:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profileidsCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector

  /community/achievement/getAvailableAchievements:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
  /community/news:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
  /community/clan/find:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/joinPolicies"
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/tags"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
  /community/clan/getClanInfoFull:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/name"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
  /community/CommunityEvent/getAvailableCommunityEvents:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
  /community/item/getInventoryByProfileIDs:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profileidsCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
  /community/leaderboard/getAvailableLeaderboards:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
  /community/leaderboard/getLeaderboard2:
    get:
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/leaderboard_id"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sortBy"
        - $ref: "#/components/parameters/platformCom"
      responses:
        "200":
          description: Definition generated from Swagger Inspector
  /game/account/FindProfiles:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/account/getProfileName:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/profile_ids"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/account/getProfileProperty:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/profile_id"
        - $ref: "#/components/parameters/property_id"
      responses:
        "200":
          description: OK
  /game/account/FindProfilesByPlatformID:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/platformIDs"
      responses:
        "200":
          description: OK
  /game/account/setAvatarMetadata:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/metaData"
      responses:
        "200":
          description: OK
  /game/account/setLanguage:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/title"
        - $ref: "#/components/parameters/language"
      responses:
        "200":
          description: OK
  /game/Achievement/getAchievements:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/profileIDs"
      responses:
        "200":
          description: OK
  /game/Achievement/getAvailableAchievements:
    get:
      description: "No authentication needed"
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/signature"
      responses:
        "200":
          description: OK
  /game/achievement/syncStats:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/accountType"
        - $ref: "#/components/parameters/auth"
      responses:
        "200":
          description: OK
  /game/advertisement/findObservableAdvertisements:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/observerGroupID"
        - $ref: "#/components/parameters/sortOrder"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/versionFlags"
      responses:
        "200":
          description: OK
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/observerGroupID"
        - $ref: "#/components/parameters/sortOrder"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/versionFlags"
      responses:
        "200":
          description: OK
  /game/advertisement/findAdvertisements:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/matchType_id"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/profile_ids"
        - $ref: "#/components/parameters/race_ids"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/statGroup_ids"
        - $ref: "#/components/parameters/versionFlags"
      responses:
        "200":
          description: OK
  /game/advertisement/getAdvertisements:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/match_ids"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/advertisement/getLanAdvertisements:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/lanServerGuids"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/matchType_id"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/versionFlags"
      responses:
        "200":
          description: OK
  /game/advertisement/host:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/automatchPoll_id"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/description"
        - $ref: "#/components/parameters/hostid"
        - $ref: "#/components/parameters/isObservable"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/mapname"
        - $ref: "#/components/parameters/matchtype"
        - $ref: "#/components/parameters/maxplayers"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/observerDelay"
        - $ref: "#/components/parameters/observerPassword"
        - $ref: "#/components/parameters/options"
        - $ref: "#/components/parameters/party"
        - $ref: "#/components/parameters/password"
        - $ref: "#/components/parameters/passworded"
        - $ref: "#/components/parameters/race"
        - $ref: "#/components/parameters/relayRegion"
        - $ref: "#/components/parameters/serviceType"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/slotinfo"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/statgroup"
        - $ref: "#/components/parameters/team"
        - $ref: "#/components/parameters/versionFlags"
        - $ref: "#/components/parameters/visible"
      responses:
        "200":
          description: OK
  /game/advertisement/update:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/automatchPoll_id"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/description"
        - $ref: "#/components/parameters/hostid"
        - $ref: "#/components/parameters/isObservable"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/mapname"
        - $ref: "#/components/parameters/matchtype"
        - $ref: "#/components/parameters/maxplayers"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/observerDelay"
        - $ref: "#/components/parameters/observerPassword"
        - $ref: "#/components/parameters/options"
        - $ref: "#/components/parameters/password"
        - $ref: "#/components/parameters/passworded"
        - $ref: "#/components/parameters/race"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/slotinfo"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/team"
        - $ref: "#/components/parameters/versionFlags"
        - $ref: "#/components/parameters/visible"
      responses:
        "200":
          description: OK
  /game/advertisement/join:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/party"
        - $ref: "#/components/parameters/password"
        - $ref: "#/components/parameters/race"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/statgroup"
        - $ref: "#/components/parameters/team"
        - $ref: "#/components/parameters/versionFlags"
      responses:
        "200":
          description: OK
  /game/advertisement/startObserving:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/password"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/versionFlags"
        - $ref: "#/components/parameters/withPartySessionID"
      responses:
        "200":
          description: OK
  /game/advertisement/stopObserving:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/advertisement/updatePlatformLobbyID:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/matchID"
        - $ref: "#/components/parameters/platformlobbyID"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/advertisement/updateState:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/advertisement/updateTags:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/numericTagNames"
        - $ref: "#/components/parameters/numericTagValues"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/stringTagNames"
        - $ref: "#/components/parameters/stringTagValues"
      responses:
        "200":
          description: OK
  /game/advertisement/leave:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/automatch/getAutomatchMap:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/automatch2/getAutomatchMap:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/automatch2/polling:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/appBinCRC"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/dataCRC"
        - $ref: "#/components/parameters/factionIDs"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/matchTypes"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/options"
        - $ref: "#/components/parameters/partySessionID"
        - $ref: "#/components/parameters/raceInfoKey"
        - $ref: "#/components/parameters/raceInfoProfileID"
        - $ref: "#/components/parameters/raceInfoRaceID"
        - $ref: "#/components/parameters/relayPingTimes"
        - $ref: "#/components/parameters/relayRegion"
        - $ref: "#/components/parameters/relayRegions"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/versionFlags"
        - $ref: "#/components/parameters/vetoMapKey"
        - $ref: "#/components/parameters/vetoMaps"
      responses:
        "200":
          description: OK
  /game/automatch2/stoppolling:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/commit"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/ownerProfileID"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/automatch2/updateStatus:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/matchID"
        - $ref: "#/components/parameters/result"
        - $ref: "#/components/parameters/resultCode"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/Challenge/getChallengeProgress:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/Challenge/getChallengeProgressByProfileID:
    get:
      description: "TODO: Request not available in Wiki, this is guessed"
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/profile_id"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/Challenge/getChallenges:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/signature"
      responses:
        "200":
          description: OK
  /game/challenge/updateProgressBatched:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/progressIDs"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/updateAmounts"
      responses:
        "200":
          description: OK
  /game/chat/getChatChannels:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/chat/getOfflineMessages:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/chat/deleteOfflineMessage:
    post:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/messageID"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
  /game/clan/find:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/joinPolicies"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/sessionID"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/tags"
      responses:
        "200":
          description: OK
  /game/clan/getClan:
    get:
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/names"
        - $ref: "#/components/parameters/sessionID"
      responses:
        "200":
          description: OK
components:
  schemas:
    Result:
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Model0:
      properties:
        result:
          $ref: "#/components/schemas/Result"
    Model1_Result:
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Members:
      properties:
        profile_id:
          type: integer
          format: int32
        name:
          type: string
        alias:
          type: string
        personal_statgroup_id:
          type: integer
          format: int32
        xp:
          type: integer
          format: int32
        level:
          type: integer
          format: int32
        leaderboardregion_id:
          type: integer
          format: int32
        country:
          type: string
    StatGroups:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        type:
          type: integer
          format: int32
        members:
          type: array
          items:
            $ref: "#/components/schemas/Members"
    Model1:
      properties:
        result:
          $ref: "#/components/schemas/Model1_Result"
        statGroups:
          type: array
          items:
            $ref: "#/components/schemas/StatGroups"
        leaderboardStats:
          type: array
          items: {}
    Model2_Result:
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Matchhistoryreportresults:
      properties:
        matchhistory_id:
          type: integer
          format: int32
        profile_id:
          type: integer
          format: int32
        resulttype:
          type: integer
          format: int32
        teamid:
          type: integer
          format: int32
        race_id:
          type: integer
          format: int32
        xpgained:
          type: integer
          format: int32
        counters:
          type: string
        matchstartdate:
          type: integer
          format: int32
    Matchurls:
      properties:
        profile_id:
          type: integer
          format: int32
        url:
          type: string
        size:
          type: integer
          format: int32
        datatype:
          type: integer
          format: int32
    MatchHistoryStats:
      properties:
        id:
          type: integer
          format: int32
        creator_profile_id:
          type: integer
          format: int32
        mapname:
          type: string
        maxplayers:
          type: integer
          format: int32
        matchtype_id:
          type: integer
          format: int32
        options:
          type: string
        slotinfo:
          type: string
        description:
          type: string
        startgametime:
          type: integer
          format: int32
        completiontime:
          type: integer
          format: int32
        observertotal:
          type: integer
          format: int32
        matchhistoryreportresults:
          type: array
          items:
            $ref: "#/components/schemas/Matchhistoryreportresults"
        matchhistoryitems:
          type: array
          items: {}
        matchurls:
          type: array
          items:
            $ref: "#/components/schemas/Matchurls"
    Profiles:
      properties:
        profile_id:
          type: integer
          format: int32
        name:
          type: string
        alias:
          type: string
        personal_statgroup_id:
          type: integer
          format: int32
        xp:
          type: integer
          format: int32
        level:
          type: integer
          format: int32
        leaderboardregion_id:
          type: integer
          format: int32
        country:
          type: string
    Model2:
      properties:
        result:
          $ref: "#/components/schemas/Model2_Result"
        matchHistoryStats:
          type: array
          items:
            $ref: "#/components/schemas/MatchHistoryStats"
        profiles:
          type: array
          items:
            $ref: "#/components/schemas/Profiles"
    Model3_Result:
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Avatars:
      properties:
        profile_id:
          type: integer
          format: int32
        name:
          type: string
        alias:
          type: string
        personal_statgroup_id:
          type: integer
          format: int32
        xp:
          type: integer
          format: int32
        level:
          type: integer
          format: int32
        leaderboardregion_id:
          type: integer
          format: int32
        country:
          type: string
    Players:
      properties:
        steamid:
          type: string
        communityvisibilitystate:
          type: integer
          format: int32
        profilestate:
          type: integer
          format: int32
        personaname:
          type: string
        commentpermission:
          type: integer
          format: int32
        profileurl:
          type: string
        avatar:
          type: string
        avatarmedium:
          type: string
        avatarfull:
          type: string
        avatarhash:
          type: string
        personastate:
          type: integer
          format: int32
    Response:
      properties:
        players:
          type: array
          items:
            $ref: "#/components/schemas/Players"
    SteamResults:
      properties:
        response:
          $ref: "#/components/schemas/Response"
    Model3:
      properties:
        result:
          $ref: "#/components/schemas/Model3_Result"
        avatars:
          type: array
          items:
            $ref: "#/components/schemas/Avatars"
        steamResults:
          $ref: "#/components/schemas/SteamResults"
    Model4_Result:
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Model4_StatGroups_Members:
      properties:
        profile_id:
          type: integer
          format: int32
        name:
          type: string
        alias:
          type: string
        personal_statgroup_id:
          type: integer
          format: int32
        xp:
          type: integer
          format: int32
        level:
          type: integer
          format: int32
        leaderboardregion_id:
          type: integer
          format: int32
        country:
          type: string
    Model4_StatGroups:
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        type:
          type: integer
          format: int32
        members:
          type: array
          items:
            $ref: "#/components/schemas/Model4_StatGroups_Members"
    LeaderboardStats:
      properties:
        statgroup_id:
          type: integer
          format: int32
        leaderboard_id:
          type: integer
          format: int32
        wins:
          type: integer
          format: int32
        losses:
          type: integer
          format: int32
        streak:
          type: integer
          format: int32
        disputes:
          type: integer
          format: int32
        drops:
          type: integer
          format: int32
        rank:
          type: integer
          format: int32
        ranktotal:
          type: integer
          format: int32
        ranklevel:
          type: integer
          format: int32
        rating:
          type: integer
          format: int32
        regionrank:
          type: integer
          format: int32
        regionranktotal:
          type: integer
          format: int32
        lastmatchdate:
          type: integer
          format: int32
    Model4:
      properties:
        result:
          $ref: "#/components/schemas/Model4_Result"
        statGroups:
          type: array
          items:
            $ref: "#/components/schemas/Model4_StatGroups"
        leaderboardStats:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardStats"
  parameters:
    callNum:
      name: callNum
      in: query
      required: true
      schema:
        type: integer
      example: 148
      description: ""
    connect_id:
      name: connect_id
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: bgoo2n1murnn43kzdnnfc9fhp2no19
    lastCallTime:
      name: lastCallTime
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: 918824
    name:
      name: name
      in: query
      required: true
      description: ""
      style: form
      schema:
        type: string
      example:
    sessionID:
      name: sessionID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: bgoo2n1murnn43kzdnnfc9fhp2no19
    profile_ids:
      name: profile_ids
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: array
      example: [196240]
    profileIDs:
      name: profileIDs
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: array
      example: [196240, 196241]
    profile_id:
      name: profile_id
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 196240
    property_id:
      name: property_id
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
        - appearOffline
    platformIDs:
      name: platformIDs
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: array
      example:
        - [
            76561197960287614,
            76561197978627567,
            76561197978943286,
            76561198000229224,
            76561197972009043,
            76561197964180873,
            76561197966000898,
            76561197976722725,
          ]
    metaData:
      name: metaData
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: object
      example: { "sharedHistory": 0 }
    titleCom:
      name: title
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example:
        - age2
        - age1
    title:
      name: title
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example:
        - age1
        - age2
        - age3
        - age4
    language:
      name: language
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example:
        - en
        - de
        - es
        - fr
    signature:
      name: signature
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: wqFWpWL7ZV67HZ7b1kXEAtWofi34DFHX/HoiyJm46ooePlthNsS5F2TQiLHzUOSYuV/VGDmpk1Dr7r6E/OukY/lDE4MgrRQBkOTvV8HAnqJIAcqDTiZN9l1bimxn14vrnnNaBcOZyOvnkZD5oVahECESHlxgEewOhTdkOxLAuXLA+QxXYBlswaperH95/wGhUg11NN0AG2L/6ej929D5NIqDGlVrmp1oBRNYTqRhbvOgjyII0XElAvKwaR+bYKGqchd8RU4WGwPsrhN/5IKl4E7SpJH9UAWV4bH9v6lVwJqz8NGCawmq1p+V22G239k/c7x6chtyOJBPG9N220ot5A==
    accountType:
      name: accountType
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: STEAM
    auth:
      name: auth
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: STEAM
    appBinaryChecksum:
      name: appBinaryChecksum
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 24916
    count:
      name: count
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 200
    dataChecksum:
      name: dataChecksum
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -638535971
    desc:
      name: desc
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    modDLLChecksum:
      name: modDLLChecksum
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    modDLLFile:
      name: modDLLFile
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: INVALID
    modName:
      name: modName
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: INVALID
    modVersion:
      name: modVersion
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: INVALID
    observerGroupID:
      name: observerGroupID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    sortOrder:
      name: sortOrder
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    start:
      name: start
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    versionFlags:
      name: versionFlags
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    matchType_id:
      name: matchType_id
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    race_ids:
      name: race_ids
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [1, 2]
    statGroup_ids:
      name: statGroup_ids
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [12, 34]
    match_ids:
      name: match_ids
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [132, 123]
    lanServerGuids:
      name: lanServerGuids
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: [123e88e6-88e1-4aa7-ab3c-a2975fc0b04d]
    advertisementid:
      name: advertisementid
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    automatchPoll_id:
      name: automatchPoll_id
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    description:
      name: description
      in: query
      required: true
      description: "Lobby title"
      schema:
        type: string
      example:
        - SESSION_MATCH_KEY
        - Test
    hostid:
      name: hostid
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 1
    isObservable:
      name: isObservable
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 1
    mapname:
      name: mapname
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: "no_map"
    matchtype:
      name: matchtype
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 19
    maxplayers:
      name: maxplayers
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 8
    observerDelay:
      name: observerDelay
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 180
    observerPassword:
      name: observerPassword
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: "unknown password"
    options:
      name: options
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: "opts"
    party:
      name: party
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    password:
      name: password
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: "test"
    passworded:
      name: passworded
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example:
        - 0
        - 1
    race:
      name: race
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 2039321
    relayRegion:
      name: relayRegion
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
        - "australiasoutheast"
        - "brazilsouth"
        - "koreacentral"
        - "ukwest"
        - "southeastasia"
        - "westus2"
        - "westindia"
        - "westeurope"
        - "eastus"
    serviceType:
      name: serviceType
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    slotinfo:
      name: slotinfo
      in: query
      required: true
      description: "zlib compressed"
      schema:
        type: string
      example: eNrtjkEKwjAQRT3LrKNYl10XoWBBqjtxMaQTHGySkoxCEe8uiaDewE127zMP5lUbdXrAFLzhkVpn/IoHqJeVgigo7F3bvKcQ2sRrBQb17yWgpi+7647uNGYxrQ5FX47z9FGELe0pbANa6g7Z49gTDnPm9PYWM1oSbFAQaoCnKpWlslSWyr9XnhcvuymdYw==
    state:
      name: state
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    statgroup:
      name: statgroup
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    team:
      name: team
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    visible:
      name: visible
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    withPartySessionID:
      name: withPartySessionID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 50865084
    matchID:
      name: matchID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 50865084
    platformlobbyID:
      name: platformlobbyID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 109775243868575631
    numericTagNames:
      name: numericTagNames
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
        ["CheatsEnabled", "Dataset", "TreatyLength", "Ranked", "Password"]
    numericTagValues:
      name: numericTagValues
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 1, 0, 0, 0]
    stringTagNames:
      name: stringTagNames
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: ["GameType", "MapStyleType", "Speed", "VictoryType", "Server"]
    stringTagValues:
      name: stringTagValues
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: ["0", "0", "2", "9", "westeurope"]
    appBinCRC:
      name: appBinCRC
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 9876
    dataCRC:
      name: dataCRC
      in: query
      required: true
      description: "backwards appBinCRC?"
      schema:
        type: integer
      example: 6789
    factionIDs:
      name: factionIDs
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 0, 0, 0]
    matchTypes:
      name: matchTypes
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [20, 21, 22, 23]
    partySessionID:
      name: partySessionID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 50865084
    raceInfoKey:
      name: raceInfoKey
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 1, 2, 3]
    raceInfoProfileID:
      name: raceInfoProfileID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [233334, 233334, 233334, 233334]
    raceInfoRaceID:
      name: raceInfoRaceID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [2039321, 2039321, 2039321, 2039321]
    relayPingTimes:
      name: relayPingTimes
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [264, 220, 253, 45, 187, 191, 153, 45, 119]
    relayRegions:
      name: relayRegions
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
        [
          "australiasoutheast",
          "brazilsouth",
          "koreacentral",
          "ukwest",
          "southeastasia",
          "westus2",
          "westindia",
          "westeurope",
          "eastus",
        ]
    vetoMapKey:
      name: vetoMapKey
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example:
        [
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
        ]
    vetoMaps:
      name: vetoMaps
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
        [
          "hideout_tiny",
          "hideout_small",
          "hideout_medium",
          "hideout_large",
          "archipelago_medium",
          "high_view_small",
          "archipelago_large",
          "high_view_medium",
          "archipelago_gigantic",
          "high_view_large",
          "archipelago_small",
          "high_view_tiny",
          "hideout_tiny",
          "hideout_small",
          "hideout_medium",
          "hideout_large",
          "archipelago_medium",
          "high_view_small",
          "archipelago_large",
          "high_view_medium",
          "archipelago_gigantic",
          "high_view_large",
          "archipelago_small",
          "high_view_tiny",
          "hideout_tiny",
          "hideout_small",
          "hideout_medium",
          "hideout_large",
          "archipelago_medium",
          "high_view_small",
          "archipelago_large",
          "high_view_medium",
          "archipelago_gigantic",
          "high_view_large",
          "archipelago_small",
          "high_view_tiny",
          "hideout_tiny",
          "hideout_small",
          "hideout_medium",
          "hideout_large",
          "archipelago_medium",
          "high_view_small",
          "archipelago_large",
          "high_view_medium",
          "archipelago_gigantic",
          "high_view_large",
          "archipelago_small",
          "high_view_tiny",
        ]
    commit:
      name: commit
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    ownerProfileID:
      name: ownerProfileID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 233334
    result:
      name: result
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 1
    resultCode:
      name: resultCode
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    progressIDs:
      name: progressIDs
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [646542981]
    updateAmounts:
      name: updateAmounts
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [1]
    messageID:
      name: messageID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 70218256
    joinPolicies:
      name: joinPolicies
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 1, 2]
    tags:
      name: tags
      in: query
      style: form
      required: true
      description: ""
      explode: true
      schema:
        type: string
      example: []
    profileidsCom:
      name: profileids
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: integer
      example: [196240]
    profile_idsCom:
      name: profile_ids
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: ["192640"]
    profile_namesCom:
      name: profile_names
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: "[%22/steam/76561197984749679%22]"
    sortBy:
      name: sortBy
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: integer
      example: 1
    platformCom:
      name: platform
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: PC_STEAM
    leaderboard_id:
      name: leaderboard_id
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: integer
      example: 3
    aliasesCom:
      name: aliases
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: "[BlackRock]"
    profileNamesCom:
      name: profileNames
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: '["/steam/76561197984749679"]'
    SteamRequestCom:
      name: request
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: /ISteamUser/GetPlayerSummaries/v0002/
    names:
      name: names
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: [“Liiit”]
