---
openapi: 3.0.3
info:
  title: World's Edge API
  description: ""
  version: "24.11.01"
servers:
  - url: https://aoe-api.worldsedgelink.com
paths:
  /community/external/proxysteamuserrequest:
    get:
      operationId: community_proxy_steam_user_request
      parameters:
        - $ref: "#/components/parameters/SteamRequestCom"
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profile_idsCom"
        - $ref: "#/components/parameters/profileNamesCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/leaderboard/GetPersonalStat:
    get:
      operationId: community_get_personal_stat
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profile_idsCom"
        - $ref: "#/components/parameters/profile_namesCom"
        - $ref: "#/components/parameters/aliasesCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/leaderboard/getRecentMatchHistory:
    get:
      operationId: community_get_recent_match_history
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profile_idsCom"
        - $ref: "#/components/parameters/profile_namesCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/advertisement/findAdvertisements:
    get:
      operationId: community_find_advertisements
      parameters:
        - $ref: "#/components/parameters/titleCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/leaderboard/GetAvatarStatForProfile:
    get:
      operationId: community_get_avatar_stat_for_profile
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profile_namesCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/achievement/getAchievements:
    get:
      operationId: community_get_achievements
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profileidsCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/achievement/getAvailableAchievements:
    get:
      operationId: community_get_available_achievements
      parameters:
        - $ref: "#/components/parameters/titleCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/news/getNews:
    get:
      operationId: community_news_get_news
      parameters:
        - $ref: "#/components/parameters/titleCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/clan/find:
    get:
      operationId: community_clan_find
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/joinPolicies"
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/tags"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/clan/getClanInfoFull:
    get:
      operationId: community_get_clan_info_full
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/name"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/CommunityEvent/getAvailableCommunityEvents:
    get:
      operationId: community_get_available_community_events
      parameters:
        - $ref: "#/components/parameters/titleCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/item/getInventoryByProfileIDs:
    get:
      operationId: community_get_inventory_by_profile_ids
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/profileidsCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/leaderboard/getAvailableLeaderboards:
    get:
      operationId: community_get_available_leaderboards
      parameters:
        - $ref: "#/components/parameters/titleCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /community/leaderboard/getLeaderboard2:
    get:
      operationId: community_get_leaderboard2
      parameters:
        - $ref: "#/components/parameters/titleCom"
        - $ref: "#/components/parameters/leaderboard_id"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sortBy"
        - $ref: "#/components/parameters/platformCom"
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValueUTF8"
  /game/account/FindProfiles:
    get:
      operationId: game_account_find_profiles
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/name"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/account/getProfileName:
    get:
      operationId: game_account_get_profile_name
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/profile_ids"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/account/getProfileProperty:
    get:
      operationId: game_account_get_profile_property
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/profile_id"
        - $ref: "#/components/parameters/property_id"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/account/FindProfilesByPlatformID:
    get:
      operationId: game_account_find_profiles_by_platform_id
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/platformIDs"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/account/setAvatarMetadata:
    post:
      operationId: game_account_set_avatar_metadata
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/metaData"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/account/setLanguage:
    post:
      operationId: game_account_set_language
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/title"
        - $ref: "#/components/parameters/language"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Achievement/getAchievements:
    get:
      operationId: game_achievement_get_achievements
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/profileIDs"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Achievement/getAvailableAchievements:
    get:
      operationId: game_achievement_get_available_achievements
      description: "No authentication needed"
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/signature"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/achievement/syncStats:
    post:
      operationId: game_achievement_sync_stats
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/accountType"
        - $ref: "#/components/parameters/auth"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/findObservableAdvertisements:
    get:
      operationId: game_advertisement_find_observable_advertisements_get
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/observerGroupID"
        - $ref: "#/components/parameters/sortOrder"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/versionFlags"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
    post:
      operationId: game_advertisement_find_observable_advertisements_post
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/desc"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/observerGroupID"
        - $ref: "#/components/parameters/sortOrder"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/versionFlags"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/findAdvertisements:
    get:
      operationId: game_advertisement_find_advertisements
      description: ""
      parameters:
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/matchType_id"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/profile_ids"
        - $ref: "#/components/parameters/race_ids"
        - $ref: "#/components/parameters/statGroup_ids"
        - $ref: "#/components/parameters/versionFlags"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/getAdvertisements:
    get:
      operationId: game_advertisement_get_advertisements
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/match_ids"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/getLanAdvertisements:
    get:
      operationId: game_advertisement_get_lan_advertisements
      description: ""
      parameters:
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/lanServerGuids"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/matchType_id"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/versionFlags"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/host:
    post:
      operationId: game_advertisement_host
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/automatchPoll_id"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/description"
        - $ref: "#/components/parameters/hostid"
        - $ref: "#/components/parameters/isObservable"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/mapname"
        - $ref: "#/components/parameters/matchtype"
        - $ref: "#/components/parameters/maxplayers"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/observerDelay"
        - $ref: "#/components/parameters/observerPassword"
        - $ref: "#/components/parameters/options"
        - $ref: "#/components/parameters/party"
        - $ref: "#/components/parameters/password"
        - $ref: "#/components/parameters/passworded"
        - $ref: "#/components/parameters/race"
        - $ref: "#/components/parameters/relayRegion"
        - $ref: "#/components/parameters/serviceType"
        - $ref: "#/components/parameters/slotinfo"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/statgroup"
        - $ref: "#/components/parameters/team"
        - $ref: "#/components/parameters/versionFlags"
        - $ref: "#/components/parameters/visible"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/update:
    post:
      operationId: game_advertisement_update
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/automatchPoll_id"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/description"
        - $ref: "#/components/parameters/hostid"
        - $ref: "#/components/parameters/isObservable"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/mapname"
        - $ref: "#/components/parameters/matchtype"
        - $ref: "#/components/parameters/maxplayers"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/observerDelay"
        - $ref: "#/components/parameters/observerPassword"
        - $ref: "#/components/parameters/options"
        - $ref: "#/components/parameters/password"
        - $ref: "#/components/parameters/passworded"
        - $ref: "#/components/parameters/race"
        - $ref: "#/components/parameters/slotinfo"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/team"
        - $ref: "#/components/parameters/versionFlags"
        - $ref: "#/components/parameters/visible"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/join:
    post:
      operationId: game_advertisement_join
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/party"
        - $ref: "#/components/parameters/password"
        - $ref: "#/components/parameters/race"
        - $ref: "#/components/parameters/statgroup"
        - $ref: "#/components/parameters/team"
        - $ref: "#/components/parameters/versionFlags"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/startObserving:
    post:
      operationId: game_advertisement_start_observing
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/appBinaryChecksum"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/dataChecksum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/password"
        - $ref: "#/components/parameters/versionFlags"
        - $ref: "#/components/parameters/withPartySessionID"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/stopObserving:
    post:
      operationId: game_advertisement_stop_observing
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/updatePlatformLobbyID:
    post:
      operationId: game_advertisement_update_platform_lobby_id
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/matchID"
        - $ref: "#/components/parameters/platformlobbyID"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/updateState:
    post:
      operationId: game_advertisement_update_state
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/updateTags:
    post:
      operationId: game_advertisement_update_tags
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/numericTagNames"
        - $ref: "#/components/parameters/numericTagValues"
        - $ref: "#/components/parameters/stringTagNames"
        - $ref: "#/components/parameters/stringTagValues"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/advertisement/leave:
    post:
      operationId: game_advertisement_leave
      description: ""
      parameters:
        - $ref: "#/components/parameters/advertisementid"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/automatch/getAutomatchMap:
    get:
      operationId: game_automatch_get_automatch_map
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/automatch2/getAutomatchMap:
    get:
      operationId: game_automatch2_get_automatch_map
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/automatch2/polling:
    post:
      operationId: game_automatch2_polling
      description: ""
      parameters:
        - $ref: "#/components/parameters/appBinCRC"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/dataCRC"
        - $ref: "#/components/parameters/factionIDs"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/matchTypes"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/options"
        - $ref: "#/components/parameters/partySessionID"
        - $ref: "#/components/parameters/raceInfoKey"
        - $ref: "#/components/parameters/raceInfoProfileID"
        - $ref: "#/components/parameters/raceInfoRaceID"
        - $ref: "#/components/parameters/relayPingTimes"
        - $ref: "#/components/parameters/relayRegion"
        - $ref: "#/components/parameters/relayRegions"
        - $ref: "#/components/parameters/versionFlags"
        - $ref: "#/components/parameters/vetoMapKey"
        - $ref: "#/components/parameters/vetoMaps"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/automatch2/stoppolling:
    post:
      operationId: game_automatch2_stop_polling
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/commit"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/ownerProfileID"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/automatch2/updateStatus:
    post:
      operationId: game_automatch2_update_status
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/matchID"
        - $ref: "#/components/parameters/result"
        - $ref: "#/components/parameters/resultCode"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Challenge/getChallengeProgress:
    get:
      operationId: game_challenge_get_challenge_progress
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Challenge/getChallengeProgressByProfileID:
    get:
      operationId: game_challenge_get_challenge_progress_by_profile_id
      description: "TODO: Request not available in Wiki, this is guessed"
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/profile_id"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Challenge/getChallenges:
    get:
      operationId: game_challenge_get_challenges
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/signature"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/challenge/updateProgressBatched:
    post:
      operationId: game_challenge_update_progress_batched
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/progressIDs"
        - $ref: "#/components/parameters/updateAmounts"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/chat/getChatChannels:
    get:
      operationId: game_chat_get_chat_channels
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/chat/getOfflineMessages:
    get:
      operationId: game_chat_get_offline_messages
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/chat/deleteOfflineMessage:
    post:
      operationId: game_chat_delete_offline_message
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/messageID"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/clan/find:
    get:
      operationId: game_clan_find
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/joinPolicies"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/tags"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/clan/getClan:
    get:
      operationId: game_clan_get_clan
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/names"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/clan/getClanInfoFull:
    get:
      operationId: game_clan_get_clan_info_full
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/name"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/clan/apply:
    post:
      operationId: game_clan_apply
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/clanList_name"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/clan/disband:
    post:
      operationId: game_clan_disband
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/clan/create:
    post:
      operationId: game_clan_create
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/chat"
        - $ref: "#/components/parameters/cost"
        - $ref: "#/components/parameters/demote"
        - $ref: "#/components/parameters/description"
        - $ref: "#/components/parameters/disband"
        - $ref: "#/components/parameters/editInfo"
        - $ref: "#/components/parameters/editPermission"
        - $ref: "#/components/parameters/fullName"
        - $ref: "#/components/parameters/icon"
        - $ref: "#/components/parameters/invite"
        - $ref: "#/components/parameters/itemPrice_id"
        - $ref: "#/components/parameters/joinPolicy"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/locStringID"
        - $ref: "#/components/parameters/messageOfTheDay"
        - $ref: "#/components/parameters/metadata"
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/paymentitem"
        - $ref: "#/components/parameters/permissionName"
        - $ref: "#/components/parameters/promote"
        - $ref: "#/components/parameters/rank"
        - $ref: "#/components/parameters/remove"
        - $ref: "#/components/parameters/tags"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/clan/update:
    post:
      operationId: game_clan_update
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/clanList_id"
        - $ref: "#/components/parameters/description"
        - $ref: "#/components/parameters/icon"
        - $ref: "#/components/parameters/joinPolicy"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/messageOfTheDay"
        - $ref: "#/components/parameters/metadata"
        - $ref: "#/components/parameters/tags"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/cloud/getFileURL:
    get:
      operationId: game_cloud_get_file_url_get
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/names"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
    post:
      description: ""
      operationId: game_cloud_get_file_url_post
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/names"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/cloud/getTempCredentials:
    get:
      operationId: game_cloud_get_temp_credentials
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/key"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/CommunityEvent/getAvailableCommunityEvents:
    get:
      operationId: game_community_event_get_available_community_events
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/CommunityEvent/getEventChallengeProgress:
    get:
      operationId: game_community_event_get_event_challenge_progress
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/event_id"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/CommunityEvent/getEventStats:
    get:
      operationId: game_community_event_get_event_stats
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/event_id"
        - $ref: "#/components/parameters/group_type"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/member_id"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/invitation/cancelInvitation:
    post:
      operationId: game_invitation_cancel_invitation
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/gatheringid"
        - $ref: "#/components/parameters/inviteeid"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/invitation/extendInvitation:
    post:
      operationId: game_invitation_extend_invitation
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/gatheringid"
        - $ref: "#/components/parameters/gatheringpassword"
        - $ref: "#/components/parameters/inviteeid"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/getInventoryByProfileIDs:
    get:
      operationId: game_item_get_inventory_by_profile_ids
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/profileIDs"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/getItemBundleItemsJson:
    get:
      operationId: game_item_get_item_bundle_items_json
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/signature"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/getItemDefinitionsJson:
    get:
      operationId: game_item_get_item_definitions_json
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/signature"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/getItemLoadouts:
    get:
      operationId: game_item_get_item_loadouts
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/getItemPrices:
    get:
      operationId: game_item_get_item_prices
      description: ""
      parameters:
        - $ref: "#/components/parameters/accountType"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/country"
        - $ref: "#/components/parameters/currency"
        - $ref: "#/components/parameters/saleVersion"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/getLevelRewardsTableJson:
    get:
      operationId: game_item_get_level_rewards_table_json
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/signature"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/getPersonalizedSaleItems:
    get:
      operationId: game_item_get_personalized_sale_items
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/getScheduledSaleAndItems:
    get:
      operationId: game_item_get_scheduled_sale_and_items
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/saleType"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/detachItems:
    post:
      operationId: game_item_detach_items
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/itemCharges"
        - $ref: "#/components/parameters/itemIDs"
        - $ref: "#/components/parameters/itemLocations"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/moveCharges:
    post:
      operationId: game_item_move_charges
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/charges"
        - $ref: "#/components/parameters/deletes"
        - $ref: "#/components/parameters/fromItemIDs"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/toItemIDs"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/moveItem:
    post:
      operationId: game_item_move_item
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/itemIDs"
        - $ref: "#/components/parameters/itemLocationIDs"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/posIDs"
        - $ref: "#/components/parameters/slotIDs"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/openItemPack:
    post:
      operationId: game_item_open_item_pack
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/choices"
        - $ref: "#/components/parameters/itemInstance_id"
        - $ref: "#/components/parameters/itemLocation_id"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/signItems:
    post:
      operationId: game_item_sign_item
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/crc"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/item/updateItemAttributes:
    post:
      operationId: game_item_update_item_attributes
      description: ""
      parameters:
        - $ref: "#/components/parameters/attributeKeys"
        - $ref: "#/components/parameters/attributeValues"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/itemInstance_ids"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/xpGains"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Leaderboard/getRecentMatchHistory:
    get:
      operationId: game_leaderboard_get_recent_match_history_get
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/profile_ids"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
    post:
      operationId: game_leaderboard_get_recent_match_history_post
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/profile_ids"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Leaderboard/getAvailableLeaderboards:
    get:
      operationId: game_leaderboard_get_available_leaderboards
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Leaderboard/getLeaderBoard:
    get:
      operationId: game_leaderboard_get_leaderboard
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/leaderboard_id"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/sortBy"
        - $ref: "#/components/parameters/count"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Leaderboard/getPartyStat:
    get:
      operationId: game_leaderboard_get_party_stat
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/statsids"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Leaderboard/getPersonalStat:
    get:
      operationId: game_leaderboard_get_personal_stat
      description: "TODO: No request documented in Wiki, guessed parameters"
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Leaderboard/getRecentMatchSinglePlayerHistory:
    get:
      operationId: game_leaderboard_get_recent_match_single_player_history
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/profile_ids"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Leaderboard/getStatGroupsByProfileIDs:
    get:
      operationId: game_leaderboard_get_stat_groups_by_profile_ids
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/profileids"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/Leaderboard/getStatsForLeaderboardByProfileName:
    get:
      operationId: game_leaderboard_get_stats_for_leaderboard_by_profile_name
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/leaderboard_id"
        - $ref: "#/components/parameters/profileids"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/leaderboard/setAvatarStatValues:
    post:
      operationId: game_leaderboard_set_avatar_stat_values
      description: ""
      parameters:
        - $ref: "#/components/parameters/avatarStat_ids"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/updateTypes"
        - $ref: "#/components/parameters/values"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/login/logout:
    post:
      operationId: game_login_logout
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/login/readSession:
    post:
      operationId: game_login_read_session
      description: ""
      parameters:
        - $ref: "#/components/parameters/ack"
        - $ref: "#/components/parameters/pollNum"
      security:
        - sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/login/platformlogin:
    post:
      operationId: game_login_platform_login
      description: ""
      parameters:
        - $ref: "#/components/parameters/accountType"
        - $ref: "#/components/parameters/activeMatchId"
        - $ref: "#/components/parameters/alias"
        - $ref: "#/components/parameters/appID"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/clientLibVersion"
        - $ref: "#/components/parameters/connect_id"
        - $ref: "#/components/parameters/country"
        - $ref: "#/components/parameters/installationType"
        - $ref: "#/components/parameters/language"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/macAddress"
        - $ref: "#/components/parameters/majorVersion"
        - $ref: "#/components/parameters/minorVersion"
        - $ref: "#/components/parameters/platformUserID"
        - $ref: "#/components/parameters/startGameToken"
        - $ref: "#/components/parameters/storeLicenseToken"
        - $ref: "#/components/parameters/syncHash"
        - $ref: "#/components/parameters/timeoutOverride"
        - $ref: "#/components/parameters/title"
      security:
        - authLogin: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/news/getNews:
    get:
      operationId: game_news_get_news
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/party/createOrReportSinglePlayer:
    post:
      operationId: game_party_create_or_report_single_player
      description: ""
      parameters:
        - $ref: "#/components/parameters/appbincrc"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/countersZip"
        - $ref: "#/components/parameters/createMatchKey"
        - $ref: "#/components/parameters/datacrc"
        - $ref: "#/components/parameters/isComplete"
        - $ref: "#/components/parameters/itemUpdates"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/mapname"
        - $ref: "#/components/parameters/matchKey"
        - $ref: "#/components/parameters/matchTypeID"
        - $ref: "#/components/parameters/modDLLChecksum"
        - $ref: "#/components/parameters/modDLLFile"
        - $ref: "#/components/parameters/modName"
        - $ref: "#/components/parameters/modVersion"
        - $ref: "#/components/parameters/options"
        - $ref: "#/components/parameters/race_ids"
        - $ref: "#/components/parameters/results"
        - $ref: "#/components/parameters/slotInfo"
        - $ref: "#/components/parameters/teamIDs"
        - $ref: "#/components/parameters/versionFlags"
        - $ref: "#/components/parameters/xpGained"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/party/reportMatch:
    post:
      operationId: game_party_report_match
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/checkSums"
        - $ref: "#/components/parameters/countersZip"
        - $ref: "#/components/parameters/itemUpdates"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/match_id"
        - $ref: "#/components/parameters/profile_ids"
        - $ref: "#/components/parameters/race_ids"
        - $ref: "#/components/parameters/results"
        - $ref: "#/components/parameters/simplayerIDs"
        - $ref: "#/components/parameters/teamIDs"
        - $ref: "#/components/parameters/xpGained"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/playerreport/reportuser:
    post:
      operationId: game_playerreport_report_user
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/comment"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/metadata"
        - $ref: "#/components/parameters/reportReason"
        - $ref: "#/components/parameters/reportType"
        - $ref: "#/components/parameters/reportee_profile_id"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/party/sendMatchChat:
    post:
      operationId: game_party_send_match_chat
      description: ""
      parameters:
        - $ref: "#/components/parameters/broadcast"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/from_profile_id"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/match_id"
        - $ref: "#/components/parameters/message"
        - $ref: "#/components/parameters/messageTypeID"
        - $ref: "#/components/parameters/to_profile_id"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/party/finalizeReplayUpload:
    post:
      operationId: game_party_finalize_replay_upload
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/errorString"
        - $ref: "#/components/parameters/finalizeResult"
        - $ref: "#/components/parameters/isSinglePlayer"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/match_id"
        - $ref: "#/components/parameters/size"
        - $ref: "#/components/parameters/url"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/party/peerAdd:
    post:
      operationId: game_party_peer_add
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/match_id"
        - $ref: "#/components/parameters/profile_ids"
        - $ref: "#/components/parameters/race_ids"
        - $ref: "#/components/parameters/statGroup_ids"
        - $ref: "#/components/parameters/teamIDs"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/party/peerUpdate:
    post:
      operationId: game_party_peer_update
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/isNonParticipants"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/match_id"
        - $ref: "#/components/parameters/profile_ids"
        - $ref: "#/components/parameters/race_ids"
        - $ref: "#/components/parameters/teamIDs"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/relationship/getPresenceData:
    get:
      operationId: game_relationship_get_presence_data
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/relationship/getRelationships:
    get:
      operationId: game_relationship_get_relationships
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/relationship/clearRelationship:
    post:
      operationId: game_relationship_clear_relationship
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/relationType"
        - $ref: "#/components/parameters/targetProfileID"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/relationship/ignore:
    post:
      operationId: game_relationship_ignore
      description: ""
      parameters:
        - $ref: "#/components/parameters/blocklevel"
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/relationType"
        - $ref: "#/components/parameters/targetProfileID"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/relationship/setPresence:
    post:
      operationId: game_relationship_set_presence
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/presence_id"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
  /game/relationship/setPresenceProperty:
    post:
      operationId: game_relationship_set_presence_property
      description: ""
      parameters:
        - $ref: "#/components/parameters/callNum"
        - $ref: "#/components/parameters/lastCallTime"
        - $ref: "#/components/parameters/presencePropertyDef_id"
        - $ref: "#/components/parameters/propertyValue"
      security:
        - connectID: []
          sessionID: []
      responses:
        "200":
          $ref: "#/components/responses/AnyJSONValue"
components:
  responses:
    AnyJSONValue:
      description: "Can be anything: string, number, array, object, etc., including `null`"
      content:
        application/json:
          schema: {}
    AnyJSONValueUTF8:
      description: "Can be anything: string, number, array, object, etc., including `null`"
      content:
        application/json;charset=utf-8:
          schema: {}
  parameters:
    callNum:
      name: callNum
      in: query
      required: true
      schema:
        type: integer
        default: 0
      example: 148
      description: ""
    connect_id:
      name: connect_id
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: bgoo2n1murnn43kzdnnfc9fhp2no19
    lastCallTime:
      name: lastCallTime
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: 918824
    name:
      name: name
      in: query
      required: true
      description: ""
      style: form
      schema:
        type: string
      example:
    sessionID:
      name: sessionID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: bgoo2n1murnn43kzdnnfc9fhp2no19
    profile_ids:
      name: profile_ids
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [196240]
    profileIDs:
      name: profileIDs
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [196240, 196241]
    profile_id:
      name: profile_id
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 196240
    property_id:
      name: property_id
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
        - appearOffline
    platformIDs:
      name: platformIDs
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example:
        - [
            76561197960287614,
            76561197978627567,
            76561197978943286,
            76561198000229224,
            76561197972009043,
            76561197964180873,
            76561197966000898,
            76561197976722725,
          ]
    metaData:
      name: metaData
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: object
      example: { "sharedHistory": 0 }
    titleCom:
      name: title
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example:
        - age2
        - age1
    title:
      name: title
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example:
        - age1
        - age2
        - age3
        - age4
    language:
      name: language
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example:
        - en
        - de
        - es
        - fr
    signature:
      name: signature
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: wqFWpWL7ZV67HZ7b1kXEAtWofi34DFHX/HoiyJm46ooePlthNsS5F2TQiLHzUOSYuV/VGDmpk1Dr7r6E/OukY/lDE4MgrRQBkOTvV8HAnqJIAcqDTiZN9l1bimxn14vrnnNaBcOZyOvnkZD5oVahECESHlxgEewOhTdkOxLAuXLA+QxXYBlswaperH95/wGhUg11NN0AG2L/6ej929D5NIqDGlVrmp1oBRNYTqRhbvOgjyII0XElAvKwaR+bYKGqchd8RU4WGwPsrhN/5IKl4E7SpJH9UAWV4bH9v6lVwJqz8NGCawmq1p+V22G239k/c7x6chtyOJBPG9N220ot5A==
    accountType:
      name: accountType
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: STEAM
    auth:
      name: auth
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: STEAM
    authLogin:
      name: auth
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: CAEQ8r/r2AwYBSBLKoABBvLEPiLC/jFgMWrApLt1wEVq/gNVsjg/mrmECUAQM5669cvmj8SxWM9wLNBzjZCyVJqlocVi/4hIU7il2ToQoiiLOiWuURy2ebX/AEcd8jS/iqMGZW6qIdoT9eumDueQOyKw4cH26mSVc3/bLRi2sf0vThM2dkt3eQ4Mnfr5xQs=
    appBinaryChecksum:
      name: appBinaryChecksum
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 24916
    count:
      name: count
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 200
    dataChecksum:
      name: dataChecksum
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -638535971
    desc:
      name: desc
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    modDLLChecksum:
      name: modDLLChecksum
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    modDLLFile:
      name: modDLLFile
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: INVALID
    modName:
      name: modName
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: INVALID
    modVersion:
      name: modVersion
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: INVALID
    observerGroupID:
      name: observerGroupID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    sortOrder:
      name: sortOrder
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    start:
      name: start
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    versionFlags:
      name: versionFlags
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    matchType_id:
      name: matchType_id
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    race_ids:
      name: race_ids
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [1, 2]
    statGroup_ids:
      name: statGroup_ids
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [12, 34]
    match_ids:
      name: match_ids
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [132, 123]
    lanServerGuids:
      name: lanServerGuids
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: [123e88e6-88e1-4aa7-ab3c-a2975fc0b04d]
    advertisementid:
      name: advertisementid
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    automatchPoll_id:
      name: automatchPoll_id
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    description:
      name: description
      in: query
      required: true
      description: "Lobby title"
      schema:
        type: string
      example:
        - SESSION_MATCH_KEY
        - Test
    hostid:
      name: hostid
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 1
    isObservable:
      name: isObservable
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 1
    mapname:
      name: mapname
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
        - "no_map"
        - "ang_chp1_hastings"
    matchtype:
      name: matchtype
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 19
    maxplayers:
      name: maxplayers
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 8
    observerDelay:
      name: observerDelay
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 180
    observerPassword:
      name: observerPassword
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: "unknown password"
    options:
      name: options
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: "opts"
    party:
      name: party
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    password:
      name: password
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: "test"
    passworded:
      name: passworded
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example:
        - 0
        - 1
    race:
      name: race
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 2039321
    relayRegion:
      name: relayRegion
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
        - "australiasoutheast"
        - "brazilsouth"
        - "koreacentral"
        - "ukwest"
        - "southeastasia"
        - "westus2"
        - "westindia"
        - "westeurope"
        - "eastus"
    serviceType:
      name: serviceType
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    slotinfo:
      name: slotinfo
      in: query
      required: true
      description: "zlib compressed"
      schema:
        type: string
      example: eNrtjkEKwjAQRT3LrKNYl10XoWBBqjtxMaQTHGySkoxCEe8uiaDewE127zMP5lUbdXrAFLzhkVpn/IoHqJeVgigo7F3bvKcQ2sRrBQb17yWgpi+7647uNGYxrQ5FX47z9FGELe0pbANa6g7Z49gTDnPm9PYWM1oSbFAQaoCnKpWlslSWyr9XnhcvuymdYw==
    state:
      name: state
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    statgroup:
      name: statgroup
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    team:
      name: team
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    visible:
      name: visible
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    withPartySessionID:
      name: withPartySessionID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 50865084
    matchID:
      name: matchID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 50865084
    platformlobbyID:
      name: platformlobbyID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 109775243868575631
    numericTagNames:
      name: numericTagNames
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
        ["CheatsEnabled", "Dataset", "TreatyLength", "Ranked", "Password"]
    numericTagValues:
      name: numericTagValues
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 1, 0, 0, 0]
    stringTagNames:
      name: stringTagNames
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: ["GameType", "MapStyleType", "Speed", "VictoryType", "Server"]
    stringTagValues:
      name: stringTagValues
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: ["0", "0", "2", "9", "westeurope"]
    appBinCRC:
      name: appBinCRC
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 9876
    dataCRC:
      name: dataCRC
      in: query
      required: true
      description: "backwards appBinCRC?"
      schema:
        type: integer
      example: 6789
    factionIDs:
      name: factionIDs
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 0, 0, 0]
    matchTypes:
      name: matchTypes
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [20, 21, 22, 23]
    partySessionID:
      name: partySessionID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 50865084
    raceInfoKey:
      name: raceInfoKey
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 1, 2, 3]
    raceInfoProfileID:
      name: raceInfoProfileID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [233334, 233334, 233334, 233334]
    raceInfoRaceID:
      name: raceInfoRaceID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [2039321, 2039321, 2039321, 2039321]
    relayPingTimes:
      name: relayPingTimes
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [264, 220, 253, 45, 187, 191, 153, 45, 119]
    relayRegions:
      name: relayRegions
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
        [
          "australiasoutheast",
          "brazilsouth",
          "koreacentral",
          "ukwest",
          "southeastasia",
          "westus2",
          "westindia",
          "westeurope",
          "eastus",
        ]
    vetoMapKey:
      name: vetoMapKey
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example:
        [
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          0,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          1,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          2,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
          3,
        ]
    vetoMaps:
      name: vetoMaps
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
        [
          "hideout_tiny",
          "hideout_small",
          "hideout_medium",
          "hideout_large",
          "archipelago_medium",
          "high_view_small",
          "archipelago_large",
          "high_view_medium",
          "archipelago_gigantic",
          "high_view_large",
          "archipelago_small",
          "high_view_tiny",
          "hideout_tiny",
          "hideout_small",
          "hideout_medium",
          "hideout_large",
          "archipelago_medium",
          "high_view_small",
          "archipelago_large",
          "high_view_medium",
          "archipelago_gigantic",
          "high_view_large",
          "archipelago_small",
          "high_view_tiny",
          "hideout_tiny",
          "hideout_small",
          "hideout_medium",
          "hideout_large",
          "archipelago_medium",
          "high_view_small",
          "archipelago_large",
          "high_view_medium",
          "archipelago_gigantic",
          "high_view_large",
          "archipelago_small",
          "high_view_tiny",
          "hideout_tiny",
          "hideout_small",
          "hideout_medium",
          "hideout_large",
          "archipelago_medium",
          "high_view_small",
          "archipelago_large",
          "high_view_medium",
          "archipelago_gigantic",
          "high_view_large",
          "archipelago_small",
          "high_view_tiny",
        ]
    commit:
      name: commit
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    ownerProfileID:
      name: ownerProfileID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 233334
    result:
      name: result
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 1
    resultCode:
      name: resultCode
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    progressIDs:
      name: progressIDs
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [646542981]
    updateAmounts:
      name: updateAmounts
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [1]
    messageID:
      name: messageID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 70218256
    joinPolicies:
      name: joinPolicies
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 1, 2]
    joinPolicy:
      name: joinPolicy
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 1
    tags:
      name: tags
      in: query
      style: form
      required: true
      description: ""
      explode: true
      schema:
        type: string
      example: []
    profileidsCom:
      name: profileids
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: integer
      example: [196240]
    profile_idsCom:
      name: profile_ids
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: ["192640"]
    profile_namesCom:
      name: profile_names
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: "[%22/steam/76561197984749679%22]"
    sortBy:
      name: sortBy
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: integer
      example: 1
    platformCom:
      name: platform
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: PC_STEAM
    leaderboard_id:
      name: leaderboard_id
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: integer
      example: 3
    aliasesCom:
      name: aliases
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: "[BlackRock]"
    profileNamesCom:
      name: profileNames
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: '["/steam/76561197984749679"]'
    SteamRequestCom:
      name: request
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example: /ISteamUser/GetPlayerSummaries/v0002/
    names:
      name: names
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: ["Liiit"]
    clanList_name:
      name: clanList_name
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: TURK
    chat:
      name: chat
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: [""]
    cost:
      name: cost
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    demote:
      name: demote
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: [""]
    disband:
      name: disband
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: [""]
    editInfo:
      name: editInfo
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: [""]
    editPermission:
      name: editPermission
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: [""]
    fullName:
      name: fullName
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: Rusty
    icon:
      name: icon
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: CR-001
    invite:
      name: invite
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: [""]
    itemPrice_id:
      name: itemPrice_id
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    locStringID:
      name: locStringID
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: []
    messageOfTheDay:
      name: messageOfTheDay
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example:
    metadata:
      name: metadata
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: object
      example: { "location": 4, "clanTag": "KAOS", "clanName": "KAOS" }
    paymentitem:
      name: paymentitem
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    permissionName:
      name: permissionName
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: []
    promote:
      name: promote
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: []
    rank:
      name: rank
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: []
    remove:
      name: remove
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: []
    clanList_id:
      name: clanList_id
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 110061
    event_id:
      name: event_id
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 22
    member_id:
      name: member_id
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 11190194
    group_type:
      name: group_type
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 1
    gatheringid:
      name: gatheringid
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 186430525
    inviteeid:
      name: inviteeid
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 421346
    gatheringpassword:
      name: gatheringpassword
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: "password!"
    key:
      name: key
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: /cloudfiles/game/6b861a867ce5f4e66131c929fe13db8baa40b5bb412255adcc225e6604ff703f
    country:
      name: country
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example:
        - US
        - DE
    currency:
      name: currency
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example:
        - usd
    saleVersion:
      name: saleVersion
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: -1
    saleType:
      name: saleType
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 1
    itemCharges:
      name: itemCharges
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [1, 1, 1, 1, 1, 1]
    itemIDs:
      name: itemIDs
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example:
        [449911890, 449911890, 449911888, 449911890, 449911888, 449911889]
    itemLocations:
      name: itemLocations
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 0, 0, 0, 0, 0]
    charges:
      name: charges
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [1]
    deletes:
      name: deletes
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [1]
    fromItemIDs:
      name: fromItemIDs
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [449911778]
    toItemIDs:
      name: toItemIDs
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [449911716]
    itemLocationIDs:
      name: itemLocationIDs
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 2]
    posIDs:
      name: posIDs
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [-1, -1]
    slotIDs:
      name: slotIDs
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [-1, -1]
    choices:
      name: choices
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: []
    itemInstance_id:
      name: itemInstance_id
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 449956852
    itemLocation_id:
      name: itemLocation_id
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    crc:
      name: crc
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 3611078805
    attributeKeys:
      name: attributeKeys
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: [["is_new"]]
    itemInstance_ids:
      name: itemInstance_ids
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [449911889]
    attributeValues:
      name: attributeValues
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: [["0"]]
    xpGains:
      name: xpGains
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [0]
    xpGained:
      name: xpGained
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [0]
    statsids:
      name: statsids
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [1, 2]
    profileids:
      name: profileids
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [2132331, 31323213]
    avatarStat_ids:
      name: avatarStat_ids
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [156]
    updateTypes:
      name: updateTypes
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [2]
    values:
      name: values
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [687]
    ack:
      name: ack
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    pollNum:
      name: pollNum
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    activeMatchId:
      name: activeMatchId
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
        default: -1
      example: -1
    appID:
      name: appID
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 1466860
    alias:
      name: alias
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: "Name"
    installationType:
      name: installationType
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: windows
    macAddress:
      name: macAddress
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: D4-BA-A1-43-29-19
    clientLibVersion:
      name: clientLibVersion
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 176
    majorVersion:
      name: majorVersion
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: "4.0.0"
    minorVersion:
      name: minorVersion
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 24916
    platformUserID:
      name: platformUserID
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 765613333337299
    startGameToken:
      name: startGameToken
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: string
      example:
    storeLicenseToken:
      name: storeLicenseToken
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string
      example:
    syncHash:
      name: syncHash
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 0]
    timeoutOverride:
      name: timeoutOverride
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
        default: 0
      example: 0
    appbincrc:
      name: appbincrc
      in: query
      required: true
      style: form
      explode: true
      schema:
        type: integer
      example: 24916
    countersZip:
      name: countersZip
      in: query
      required: true
      description: "zlib-compressed"
      style: form
      explode: true
      schema:
        type: string
      example: H4sIAAAAAAAACouOBQApu0wNAgAAAA==
    createMatchKey:
      name: createMatchKey
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
        default: 1
      example: 1
    datacrc:
      name: datacrc
      in: query
      required: true
      description: "backwards appBinCRC?"
      style: form
      explode: true
      schema:
        type: integer
      example: -638535971
    isComplete:
      name: isComplete
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
        default: 0
      example: 0
    itemUpdates:
      name: itemUpdates
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: []
    matchKey:
      name: matchKey
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example:
    matchTypeID:
      name: matchTypeID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 17
    results:
      name: results
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: []
    slotInfo:
      name: slotInfo
      in: query
      required: true
      description: "zlib-compressed"
      style: form
      explode: true
      schema:
        type: string
      example: eNrtVltvo0YU7m/xc7aCwSRLpH0wdgZj2Thg7lUfGMDiMmAaMDau+t97BpzEmzRdrdqXSH5AzJwznDmX7/tsHt389ueoetptUxqr5Xb3axqN7pEwvhXGN6O6CZp0V6qz0T1/M2rioGBL7ma0DcJnB+yegjBmS4T4u/GY7ct8GbcxPXvLfBU0YWJ2VX/sC4uVFvFj/ISfgiJebfpzaW3EQdT1a3bxvu6XRdwEs6AJRvejuFs0LqJ7A+HG36i3q+khJbZUkdKnpDTasKQb38F5/Oo7EAWLvrt4tW96e+c5Yk4Qb0YK7iIstyGiXOBIezXbHZdTuEfQOM9dgE0sLUU6Ba5RETRO1yk3+BHf+lhOPNQ8hnPmE09qVt2pxYud7YnrcjXYtsSRckvBWcD5tedE4Nsd3sQ5WYKRRHO7/w5qTcJCWxhT9VbNjZXmSMslJ/3hc7aroWS/xrTSkH6w+QfpcaPWasnyNfiwG2oP0bGN4Nul+QD3G3syZfbxYTWbwCNL7tCHJLBlGpZaSwpcQ40i5JWq6dlnHVvPMdrI1dN1pndrUxe1LIS31dfkIelEHBt6pL3twTZUMMzFMD2UUDjT13GeXw53cKss59amJ8CbH/ptiKFiwT2yNOzlBHrPWfNFRRzcsdmp6dd22X1toxMnnXM8eA7dR1ijkMveV350zugCh4MZqr1/KYRD717ztfx+5h/GSaEfpW/LEIdPwjJ/E2txzt2gnsPLRDlWgLOMYVXNsaxb8JgvsWC+vKg7UJ/CsDfM/XkuzGe7chkWOPfdVbqmTTTgBXfEpTYpKMdm7fADvnxFWhPB2JxxXcUF6+VD7wtcDewatQoMPZIaMqem7xypB3n60xeu7DxXmxJFygJk57YVzV4wKsi151Ia5oATReLDlOFqIU0m376N/rp5rx+M4Rfa8eVCPPgPxYMTb+++Fw/038QD/f/iMf0c4vFv5PYVu/Bcu46wlAFIGTFKkg4kgPWKIJwTweb+kaRIg1p5Gik0MwW5r5mBsO/tM2GRtvMdnm4sEI2y7nvMQKbNVFGb5Ug7wXvIj4tdmbJatptLkn5Eru+ICgBmdRk/OmeFBW1Y3b2/k4RHk0svBcZW7A7q+TCOxwiIbJ3FgZmKb2Odc+cAI43uHGsQj72HgHzpQrYY4a2H11juooktnAbOsYI76SWBe59tH3xhkcCM3ouBI1bR/FIIjNYsJO6Z1IFb0Rf8IXoCe+bbiwR61BLnKFrIrqFnkCcT8
    teamIDs:
      name: teamIDs
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: []
    errorString:
      name: errorString
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: []
    finalizeResult:
      name: finalizeResult
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
        default: 1
      example: 1
    isSinglePlayer:
      name: isSinglePlayer
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
        default: 0
      example:
        - 0
        - 1
    match_id:
      name: match_id
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 186444398
    checkSums:
      name: checkSums
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 0]
    simplayerIDs:
      name: simplayerIDs
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [1, 7]
    isNonParticipants:
      name: isNonParticipants
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: [0, 0]
    size:
      name: size
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 340242
    url:
      name: url
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: https://rl0aoelivemk2blob.blob.core.windows.net/cloudfiles/436432/aoelive_/age2/replay/windows/4.0.0/0/M_186444398_8b31ed6602350cce7ee1736393cab532712c579e545fdd41995117491b1ae319.gz
    broadcast:
      name: broadcast
      in: query
      required: true
      description: "aoe4: 1, aoe2de: 0"
      style: form
      explode: true
      schema:
        type: integer
      example:
        - 0
        - 1
    message:
      name: message
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: string
      example: 0*gg
    messageTypeID:
      name: messageTypeID
      in: query
      required: true
      description: ""
      style: form
      explode: true
      schema:
        type: integer
      example: 0
    from_profile_id:
      name: from_profile_id
      in: query
      required: true
      description: ""
      style: form
[...]
