# coding: utf-8

"""
    Relic Link API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 22.11.02
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class DefaultApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def community_clan_find(self, join_policies, name, tags, start, count, **kwargs):  # noqa: E501
        """community_clan_find  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_clan_find(join_policies, name, tags, start, count, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int join_policies: (required)
        :param str name: (required)
        :param str tags: (required)
        :param int start: (required)
        :param int count: (required)
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_clan_find_with_http_info(join_policies, name, tags, start, count, **kwargs)  # noqa: E501
        else:
            (data) = self.community_clan_find_with_http_info(join_policies, name, tags, start, count, **kwargs)  # noqa: E501
            return data

    def community_clan_find_with_http_info(self, join_policies, name, tags, start, count, **kwargs):  # noqa: E501
        """community_clan_find  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_clan_find_with_http_info(join_policies, name, tags, start, count, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int join_policies: (required)
        :param str name: (required)
        :param str tags: (required)
        :param int start: (required)
        :param int count: (required)
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['join_policies', 'name', 'tags', 'start', 'count', 'title']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_clan_find" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'join_policies' is set
        if ('join_policies' not in params or
                params['join_policies'] is None):
            raise ValueError("Missing the required parameter `join_policies` when calling `community_clan_find`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `community_clan_find`")  # noqa: E501
        # verify the required parameter 'tags' is set
        if ('tags' not in params or
                params['tags'] is None):
            raise ValueError("Missing the required parameter `tags` when calling `community_clan_find`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `community_clan_find`")  # noqa: E501
        # verify the required parameter 'count' is set
        if ('count' not in params or
                params['count'] is None):
            raise ValueError("Missing the required parameter `count` when calling `community_clan_find`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501
        if 'join_policies' in params:
            query_params.append(('joinPolicies', params['join_policies']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'tags' in params:
            query_params.append(('tags', params['tags']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'count' in params:
            query_params.append(('count', params['count']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/clan/find', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_find_advertisements(self, **kwargs):  # noqa: E501
        """community_find_advertisements  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_find_advertisements(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_find_advertisements_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.community_find_advertisements_with_http_info(**kwargs)  # noqa: E501
            return data

    def community_find_advertisements_with_http_info(self, **kwargs):  # noqa: E501
        """community_find_advertisements  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_find_advertisements_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['title']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_find_advertisements" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/advertisement/findAdvertisements', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_get_achievements(self, **kwargs):  # noqa: E501
        """community_get_achievements  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_achievements(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :param int profileids:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_get_achievements_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.community_get_achievements_with_http_info(**kwargs)  # noqa: E501
            return data

    def community_get_achievements_with_http_info(self, **kwargs):  # noqa: E501
        """community_get_achievements  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_achievements_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :param int profileids:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['title', 'profileids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_get_achievements" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501
        if 'profileids' in params:
            query_params.append(('profileids', params['profileids']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/achievement/getAchievements', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_get_available_achievements(self, **kwargs):  # noqa: E501
        """community_get_available_achievements  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_available_achievements(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_get_available_achievements_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.community_get_available_achievements_with_http_info(**kwargs)  # noqa: E501
            return data

    def community_get_available_achievements_with_http_info(self, **kwargs):  # noqa: E501
        """community_get_available_achievements  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_available_achievements_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['title']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_get_available_achievements" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/achievement/getAvailableAchievements', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_get_available_community_events(self, **kwargs):  # noqa: E501
        """community_get_available_community_events  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_available_community_events(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_get_available_community_events_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.community_get_available_community_events_with_http_info(**kwargs)  # noqa: E501
            return data

    def community_get_available_community_events_with_http_info(self, **kwargs):  # noqa: E501
        """community_get_available_community_events  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_available_community_events_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['title']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_get_available_community_events" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/CommunityEvent/getAvailableCommunityEvents', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_get_available_leaderboards(self, **kwargs):  # noqa: E501
        """community_get_available_leaderboards  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_available_leaderboards(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_get_available_leaderboards_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.community_get_available_leaderboards_with_http_info(**kwargs)  # noqa: E501
            return data

    def community_get_available_leaderboards_with_http_info(self, **kwargs):  # noqa: E501
        """community_get_available_leaderboards  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_available_leaderboards_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['title']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_get_available_leaderboards" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/leaderboard/getAvailableLeaderboards', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_get_avatar_stat_for_profile(self, **kwargs):  # noqa: E501
        """community_get_avatar_stat_for_profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_avatar_stat_for_profile(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :param str profile_names:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_get_avatar_stat_for_profile_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.community_get_avatar_stat_for_profile_with_http_info(**kwargs)  # noqa: E501
            return data

    def community_get_avatar_stat_for_profile_with_http_info(self, **kwargs):  # noqa: E501
        """community_get_avatar_stat_for_profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_avatar_stat_for_profile_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :param str profile_names:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['title', 'profile_names']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_get_avatar_stat_for_profile" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501
        if 'profile_names' in params:
            query_params.append(('profile_names', params['profile_names']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/leaderboard/GetAvatarStatForProfile', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_get_clan_info_full(self, name, **kwargs):  # noqa: E501
        """community_get_clan_info_full  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_clan_info_full(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: (required)
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_get_clan_info_full_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.community_get_clan_info_full_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def community_get_clan_info_full_with_http_info(self, name, **kwargs):  # noqa: E501
        """community_get_clan_info_full  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_clan_info_full_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: (required)
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'title']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_get_clan_info_full" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `community_get_clan_info_full`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/clan/getClanInfoFull', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_get_inventory_by_profile_ids(self, **kwargs):  # noqa: E501
        """community_get_inventory_by_profile_ids  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_inventory_by_profile_ids(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :param int profileids:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_get_inventory_by_profile_ids_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.community_get_inventory_by_profile_ids_with_http_info(**kwargs)  # noqa: E501
            return data

    def community_get_inventory_by_profile_ids_with_http_info(self, **kwargs):  # noqa: E501
        """community_get_inventory_by_profile_ids  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_inventory_by_profile_ids_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :param int profileids:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['title', 'profileids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_get_inventory_by_profile_ids" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501
        if 'profileids' in params:
            query_params.append(('profileids', params['profileids']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/item/getInventoryByProfileIDs', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_get_leaderboard2(self, start, count, **kwargs):  # noqa: E501
        """community_get_leaderboard2  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_leaderboard2(start, count, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int start: (required)
        :param int count: (required)
        :param str title:
        :param int leaderboard_id:
        :param int sort_by:
        :param str platform:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_get_leaderboard2_with_http_info(start, count, **kwargs)  # noqa: E501
        else:
            (data) = self.community_get_leaderboard2_with_http_info(start, count, **kwargs)  # noqa: E501
            return data

    def community_get_leaderboard2_with_http_info(self, start, count, **kwargs):  # noqa: E501
        """community_get_leaderboard2  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_leaderboard2_with_http_info(start, count, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int start: (required)
        :param int count: (required)
        :param str title:
        :param int leaderboard_id:
        :param int sort_by:
        :param str platform:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start', 'count', 'title', 'leaderboard_id', 'sort_by', 'platform']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_get_leaderboard2" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `community_get_leaderboard2`")  # noqa: E501
        # verify the required parameter 'count' is set
        if ('count' not in params or
                params['count'] is None):
            raise ValueError("Missing the required parameter `count` when calling `community_get_leaderboard2`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501
        if 'leaderboard_id' in params:
            query_params.append(('leaderboard_id', params['leaderboard_id']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'count' in params:
            query_params.append(('count', params['count']))  # noqa: E501
        if 'sort_by' in params:
            query_params.append(('sortBy', params['sort_by']))  # noqa: E501
        if 'platform' in params:
            query_params.append(('platform', params['platform']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/leaderboard/getLeaderboard2', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_get_personal_stat(self, **kwargs):  # noqa: E501
        """community_get_personal_stat  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_personal_stat(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :param str profile_ids:
        :param str profile_names:
        :param str aliases:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_get_personal_stat_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.community_get_personal_stat_with_http_info(**kwargs)  # noqa: E501
            return data

    def community_get_personal_stat_with_http_info(self, **kwargs):  # noqa: E501
        """community_get_personal_stat  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_personal_stat_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :param str profile_ids:
        :param str profile_names:
        :param str aliases:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['title', 'profile_ids', 'profile_names', 'aliases']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_get_personal_stat" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501
        if 'profile_ids' in params:
            query_params.append(('profile_ids', params['profile_ids']))  # noqa: E501
        if 'profile_names' in params:
            query_params.append(('profile_names', params['profile_names']))  # noqa: E501
        if 'aliases' in params:
            query_params.append(('aliases', params['aliases']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/leaderboard/GetPersonalStat', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_get_recent_match_history(self, **kwargs):  # noqa: E501
        """community_get_recent_match_history  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_recent_match_history(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :param str profile_ids:
        :param str profile_names:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_get_recent_match_history_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.community_get_recent_match_history_with_http_info(**kwargs)  # noqa: E501
            return data

    def community_get_recent_match_history_with_http_info(self, **kwargs):  # noqa: E501
        """community_get_recent_match_history  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_get_recent_match_history_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :param str profile_ids:
        :param str profile_names:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['title', 'profile_ids', 'profile_names']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_get_recent_match_history" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501
        if 'profile_ids' in params:
            query_params.append(('profile_ids', params['profile_ids']))  # noqa: E501
        if 'profile_names' in params:
            query_params.append(('profile_names', params['profile_names']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/leaderboard/getRecentMatchHistory', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_news(self, **kwargs):  # noqa: E501
        """community_news  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_news(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_news_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.community_news_with_http_info(**kwargs)  # noqa: E501
            return data

    def community_news_with_http_info(self, **kwargs):  # noqa: E501
        """community_news  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_news_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str title:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['title']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_news" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/news', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def community_proxy_steam_user_request(self, **kwargs):  # noqa: E501
        """community_proxy_steam_user_request  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_proxy_steam_user_request(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str request:
        :param str title:
        :param str profile_ids:
        :param str profile_names:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.community_proxy_steam_user_request_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.community_proxy_steam_user_request_with_http_info(**kwargs)  # noqa: E501
            return data

    def community_proxy_steam_user_request_with_http_info(self, **kwargs):  # noqa: E501
        """community_proxy_steam_user_request  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.community_proxy_steam_user_request_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str request:
        :param str title:
        :param str profile_ids:
        :param str profile_names:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request', 'title', 'profile_ids', 'profile_names']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method community_proxy_steam_user_request" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'request' in params:
            query_params.append(('request', params['request']))  # noqa: E501
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501
        if 'profile_ids' in params:
            query_params.append(('profile_ids', params['profile_ids']))  # noqa: E501
        if 'profile_names' in params:
            query_params.append(('profileNames', params['profile_names']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/community/external/proxysteamuserrequest', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def game_account_find_profiles(self, call_num, connect_id, last_call_time, name, session_id, **kwargs):  # noqa: E501
        """game_account_find_profiles  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_find_profiles(call_num, connect_id, last_call_time, name, session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str name: (required)
        :param str session_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.game_account_find_profiles_with_http_info(call_num, connect_id, last_call_time, name, session_id, **kwargs)  # noqa: E501
        else:
            (data) = self.game_account_find_profiles_with_http_info(call_num, connect_id, last_call_time, name, session_id, **kwargs)  # noqa: E501
            return data

    def game_account_find_profiles_with_http_info(self, call_num, connect_id, last_call_time, name, session_id, **kwargs):  # noqa: E501
        """game_account_find_profiles  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_find_profiles_with_http_info(call_num, connect_id, last_call_time, name, session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str name: (required)
        :param str session_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['call_num', 'connect_id', 'last_call_time', 'name', 'session_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method game_account_find_profiles" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'call_num' is set
        if ('call_num' not in params or
                params['call_num'] is None):
            raise ValueError("Missing the required parameter `call_num` when calling `game_account_find_profiles`")  # noqa: E501
        # verify the required parameter 'connect_id' is set
        if ('connect_id' not in params or
                params['connect_id'] is None):
            raise ValueError("Missing the required parameter `connect_id` when calling `game_account_find_profiles`")  # noqa: E501
        # verify the required parameter 'last_call_time' is set
        if ('last_call_time' not in params or
                params['last_call_time'] is None):
            raise ValueError("Missing the required parameter `last_call_time` when calling `game_account_find_profiles`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `game_account_find_profiles`")  # noqa: E501
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params or
                params['session_id'] is None):
            raise ValueError("Missing the required parameter `session_id` when calling `game_account_find_profiles`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'call_num' in params:
            query_params.append(('callNum', params['call_num']))  # noqa: E501
        if 'connect_id' in params:
            query_params.append(('connect_id', params['connect_id']))  # noqa: E501
        if 'last_call_time' in params:
            query_params.append(('lastCallTime', params['last_call_time']))  # noqa: E501
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'session_id' in params:
            query_params.append(('sessionID', params['session_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/game/account/FindProfiles', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def game_account_find_profiles_by_platform_id(self, call_num, connect_id, last_call_time, session_id, platform_i_ds, **kwargs):  # noqa: E501
        """game_account_find_profiles_by_platform_id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_find_profiles_by_platform_id(call_num, connect_id, last_call_time, session_id, platform_i_ds, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param int platform_i_ds: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.game_account_find_profiles_by_platform_id_with_http_info(call_num, connect_id, last_call_time, session_id, platform_i_ds, **kwargs)  # noqa: E501
        else:
            (data) = self.game_account_find_profiles_by_platform_id_with_http_info(call_num, connect_id, last_call_time, session_id, platform_i_ds, **kwargs)  # noqa: E501
            return data

    def game_account_find_profiles_by_platform_id_with_http_info(self, call_num, connect_id, last_call_time, session_id, platform_i_ds, **kwargs):  # noqa: E501
        """game_account_find_profiles_by_platform_id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_find_profiles_by_platform_id_with_http_info(call_num, connect_id, last_call_time, session_id, platform_i_ds, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param int platform_i_ds: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['call_num', 'connect_id', 'last_call_time', 'session_id', 'platform_i_ds']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method game_account_find_profiles_by_platform_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'call_num' is set
        if ('call_num' not in params or
                params['call_num'] is None):
            raise ValueError("Missing the required parameter `call_num` when calling `game_account_find_profiles_by_platform_id`")  # noqa: E501
        # verify the required parameter 'connect_id' is set
        if ('connect_id' not in params or
                params['connect_id'] is None):
            raise ValueError("Missing the required parameter `connect_id` when calling `game_account_find_profiles_by_platform_id`")  # noqa: E501
        # verify the required parameter 'last_call_time' is set
        if ('last_call_time' not in params or
                params['last_call_time'] is None):
            raise ValueError("Missing the required parameter `last_call_time` when calling `game_account_find_profiles_by_platform_id`")  # noqa: E501
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params or
                params['session_id'] is None):
            raise ValueError("Missing the required parameter `session_id` when calling `game_account_find_profiles_by_platform_id`")  # noqa: E501
        # verify the required parameter 'platform_i_ds' is set
        if ('platform_i_ds' not in params or
                params['platform_i_ds'] is None):
            raise ValueError("Missing the required parameter `platform_i_ds` when calling `game_account_find_profiles_by_platform_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'call_num' in params:
            query_params.append(('callNum', params['call_num']))  # noqa: E501
        if 'connect_id' in params:
            query_params.append(('connect_id', params['connect_id']))  # noqa: E501
        if 'last_call_time' in params:
            query_params.append(('lastCallTime', params['last_call_time']))  # noqa: E501
        if 'session_id' in params:
            query_params.append(('sessionID', params['session_id']))  # noqa: E501
        if 'platform_i_ds' in params:
            query_params.append(('platformIDs', params['platform_i_ds']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/game/account/FindProfilesByPlatformID', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def game_account_get_profile_name(self, call_num, connect_id, last_call_time, profile_ids, session_id, **kwargs):  # noqa: E501
        """game_account_get_profile_name  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_get_profile_name(call_num, connect_id, last_call_time, profile_ids, session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param int profile_ids: (required)
        :param str session_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.game_account_get_profile_name_with_http_info(call_num, connect_id, last_call_time, profile_ids, session_id, **kwargs)  # noqa: E501
        else:
            (data) = self.game_account_get_profile_name_with_http_info(call_num, connect_id, last_call_time, profile_ids, session_id, **kwargs)  # noqa: E501
            return data

    def game_account_get_profile_name_with_http_info(self, call_num, connect_id, last_call_time, profile_ids, session_id, **kwargs):  # noqa: E501
        """game_account_get_profile_name  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_get_profile_name_with_http_info(call_num, connect_id, last_call_time, profile_ids, session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param int profile_ids: (required)
        :param str session_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['call_num', 'connect_id', 'last_call_time', 'profile_ids', 'session_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method game_account_get_profile_name" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'call_num' is set
        if ('call_num' not in params or
                params['call_num'] is None):
            raise ValueError("Missing the required parameter `call_num` when calling `game_account_get_profile_name`")  # noqa: E501
        # verify the required parameter 'connect_id' is set
        if ('connect_id' not in params or
                params['connect_id'] is None):
            raise ValueError("Missing the required parameter `connect_id` when calling `game_account_get_profile_name`")  # noqa: E501
        # verify the required parameter 'last_call_time' is set
        if ('last_call_time' not in params or
                params['last_call_time'] is None):
            raise ValueError("Missing the required parameter `last_call_time` when calling `game_account_get_profile_name`")  # noqa: E501
        # verify the required parameter 'profile_ids' is set
        if ('profile_ids' not in params or
                params['profile_ids'] is None):
            raise ValueError("Missing the required parameter `profile_ids` when calling `game_account_get_profile_name`")  # noqa: E501
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params or
                params['session_id'] is None):
            raise ValueError("Missing the required parameter `session_id` when calling `game_account_get_profile_name`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'call_num' in params:
            query_params.append(('callNum', params['call_num']))  # noqa: E501
        if 'connect_id' in params:
            query_params.append(('connect_id', params['connect_id']))  # noqa: E501
        if 'last_call_time' in params:
            query_params.append(('lastCallTime', params['last_call_time']))  # noqa: E501
        if 'profile_ids' in params:
            query_params.append(('profile_ids', params['profile_ids']))  # noqa: E501
        if 'session_id' in params:
            query_params.append(('sessionID', params['session_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/game/account/getProfileName', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def game_account_get_profile_property(self, call_num, connect_id, last_call_time, session_id, profile_id, property_id, **kwargs):  # noqa: E501
        """game_account_get_profile_property  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_get_profile_property(call_num, connect_id, last_call_time, session_id, profile_id, property_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param int profile_id: (required)
        :param str property_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.game_account_get_profile_property_with_http_info(call_num, connect_id, last_call_time, session_id, profile_id, property_id, **kwargs)  # noqa: E501
        else:
            (data) = self.game_account_get_profile_property_with_http_info(call_num, connect_id, last_call_time, session_id, profile_id, property_id, **kwargs)  # noqa: E501
            return data

    def game_account_get_profile_property_with_http_info(self, call_num, connect_id, last_call_time, session_id, profile_id, property_id, **kwargs):  # noqa: E501
        """game_account_get_profile_property  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_get_profile_property_with_http_info(call_num, connect_id, last_call_time, session_id, profile_id, property_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param int profile_id: (required)
        :param str property_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['call_num', 'connect_id', 'last_call_time', 'session_id', 'profile_id', 'property_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method game_account_get_profile_property" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'call_num' is set
        if ('call_num' not in params or
                params['call_num'] is None):
            raise ValueError("Missing the required parameter `call_num` when calling `game_account_get_profile_property`")  # noqa: E501
        # verify the required parameter 'connect_id' is set
        if ('connect_id' not in params or
                params['connect_id'] is None):
            raise ValueError("Missing the required parameter `connect_id` when calling `game_account_get_profile_property`")  # noqa: E501
        # verify the required parameter 'last_call_time' is set
        if ('last_call_time' not in params or
                params['last_call_time'] is None):
            raise ValueError("Missing the required parameter `last_call_time` when calling `game_account_get_profile_property`")  # noqa: E501
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params or
                params['session_id'] is None):
            raise ValueError("Missing the required parameter `session_id` when calling `game_account_get_profile_property`")  # noqa: E501
        # verify the required parameter 'profile_id' is set
        if ('profile_id' not in params or
                params['profile_id'] is None):
            raise ValueError("Missing the required parameter `profile_id` when calling `game_account_get_profile_property`")  # noqa: E501
        # verify the required parameter 'property_id' is set
        if ('property_id' not in params or
                params['property_id'] is None):
            raise ValueError("Missing the required parameter `property_id` when calling `game_account_get_profile_property`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'call_num' in params:
            query_params.append(('callNum', params['call_num']))  # noqa: E501
        if 'connect_id' in params:
            query_params.append(('connect_id', params['connect_id']))  # noqa: E501
        if 'last_call_time' in params:
            query_params.append(('lastCallTime', params['last_call_time']))  # noqa: E501
        if 'session_id' in params:
            query_params.append(('sessionID', params['session_id']))  # noqa: E501
        if 'profile_id' in params:
            query_params.append(('profile_id', params['profile_id']))  # noqa: E501
        if 'property_id' in params:
            query_params.append(('property_id', params['property_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/game/account/getProfileProperty', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def game_account_set_avatar_metadata(self, call_num, connect_id, last_call_time, session_id, meta_data, **kwargs):  # noqa: E501
        """game_account_set_avatar_metadata  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_set_avatar_metadata(call_num, connect_id, last_call_time, session_id, meta_data, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param object meta_data: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.game_account_set_avatar_metadata_with_http_info(call_num, connect_id, last_call_time, session_id, meta_data, **kwargs)  # noqa: E501
        else:
            (data) = self.game_account_set_avatar_metadata_with_http_info(call_num, connect_id, last_call_time, session_id, meta_data, **kwargs)  # noqa: E501
            return data

    def game_account_set_avatar_metadata_with_http_info(self, call_num, connect_id, last_call_time, session_id, meta_data, **kwargs):  # noqa: E501
        """game_account_set_avatar_metadata  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_set_avatar_metadata_with_http_info(call_num, connect_id, last_call_time, session_id, meta_data, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param object meta_data: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['call_num', 'connect_id', 'last_call_time', 'session_id', 'meta_data']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method game_account_set_avatar_metadata" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'call_num' is set
        if ('call_num' not in params or
                params['call_num'] is None):
            raise ValueError("Missing the required parameter `call_num` when calling `game_account_set_avatar_metadata`")  # noqa: E501
        # verify the required parameter 'connect_id' is set
        if ('connect_id' not in params or
                params['connect_id'] is None):
            raise ValueError("Missing the required parameter `connect_id` when calling `game_account_set_avatar_metadata`")  # noqa: E501
        # verify the required parameter 'last_call_time' is set
        if ('last_call_time' not in params or
                params['last_call_time'] is None):
            raise ValueError("Missing the required parameter `last_call_time` when calling `game_account_set_avatar_metadata`")  # noqa: E501
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params or
                params['session_id'] is None):
            raise ValueError("Missing the required parameter `session_id` when calling `game_account_set_avatar_metadata`")  # noqa: E501
        # verify the required parameter 'meta_data' is set
        if ('meta_data' not in params or
                params['meta_data'] is None):
            raise ValueError("Missing the required parameter `meta_data` when calling `game_account_set_avatar_metadata`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'call_num' in params:
            query_params.append(('callNum', params['call_num']))  # noqa: E501
        if 'connect_id' in params:
            query_params.append(('connect_id', params['connect_id']))  # noqa: E501
        if 'last_call_time' in params:
            query_params.append(('lastCallTime', params['last_call_time']))  # noqa: E501
        if 'session_id' in params:
            query_params.append(('sessionID', params['session_id']))  # noqa: E501
        if 'meta_data' in params:
            query_params.append(('metaData', params['meta_data']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/game/account/setAvatarMetadata', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def game_account_set_language(self, call_num, connect_id, last_call_time, session_id, **kwargs):  # noqa: E501
        """game_account_set_language  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_set_language(call_num, connect_id, last_call_time, session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param str title:
        :param str language:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.game_account_set_language_with_http_info(call_num, connect_id, last_call_time, session_id, **kwargs)  # noqa: E501
        else:
            (data) = self.game_account_set_language_with_http_info(call_num, connect_id, last_call_time, session_id, **kwargs)  # noqa: E501
            return data

    def game_account_set_language_with_http_info(self, call_num, connect_id, last_call_time, session_id, **kwargs):  # noqa: E501
        """game_account_set_language  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_account_set_language_with_http_info(call_num, connect_id, last_call_time, session_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param str title:
        :param str language:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['call_num', 'connect_id', 'last_call_time', 'session_id', 'title', 'language']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method game_account_set_language" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'call_num' is set
        if ('call_num' not in params or
                params['call_num'] is None):
            raise ValueError("Missing the required parameter `call_num` when calling `game_account_set_language`")  # noqa: E501
        # verify the required parameter 'connect_id' is set
        if ('connect_id' not in params or
                params['connect_id'] is None):
            raise ValueError("Missing the required parameter `connect_id` when calling `game_account_set_language`")  # noqa: E501
        # verify the required parameter 'last_call_time' is set
        if ('last_call_time' not in params or
                params['last_call_time'] is None):
            raise ValueError("Missing the required parameter `last_call_time` when calling `game_account_set_language`")  # noqa: E501
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params or
                params['session_id'] is None):
            raise ValueError("Missing the required parameter `session_id` when calling `game_account_set_language`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'call_num' in params:
            query_params.append(('callNum', params['call_num']))  # noqa: E501
        if 'connect_id' in params:
            query_params.append(('connect_id', params['connect_id']))  # noqa: E501
        if 'last_call_time' in params:
            query_params.append(('lastCallTime', params['last_call_time']))  # noqa: E501
        if 'session_id' in params:
            query_params.append(('sessionID', params['session_id']))  # noqa: E501
        if 'title' in params:
            query_params.append(('title', params['title']))  # noqa: E501
        if 'language' in params:
            query_params.append(('language', params['language']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/game/account/setLanguage', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def game_achievement_get_achievements(self, call_num, connect_id, last_call_time, session_id, profile_i_ds, **kwargs):  # noqa: E501
        """game_achievement_get_achievements  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_achievement_get_achievements(call_num, connect_id, last_call_time, session_id, profile_i_ds, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param int profile_i_ds: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.game_achievement_get_achievements_with_http_info(call_num, connect_id, last_call_time, session_id, profile_i_ds, **kwargs)  # noqa: E501
        else:
            (data) = self.game_achievement_get_achievements_with_http_info(call_num, connect_id, last_call_time, session_id, profile_i_ds, **kwargs)  # noqa: E501
            return data

    def game_achievement_get_achievements_with_http_info(self, call_num, connect_id, last_call_time, session_id, profile_i_ds, **kwargs):  # noqa: E501
        """game_achievement_get_achievements  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_achievement_get_achievements_with_http_info(call_num, connect_id, last_call_time, session_id, profile_i_ds, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param int profile_i_ds: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['call_num', 'connect_id', 'last_call_time', 'session_id', 'profile_i_ds']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method game_achievement_get_achievements" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'call_num' is set
        if ('call_num' not in params or
                params['call_num'] is None):
            raise ValueError("Missing the required parameter `call_num` when calling `game_achievement_get_achievements`")  # noqa: E501
        # verify the required parameter 'connect_id' is set
        if ('connect_id' not in params or
                params['connect_id'] is None):
            raise ValueError("Missing the required parameter `connect_id` when calling `game_achievement_get_achievements`")  # noqa: E501
        # verify the required parameter 'last_call_time' is set
        if ('last_call_time' not in params or
                params['last_call_time'] is None):
            raise ValueError("Missing the required parameter `last_call_time` when calling `game_achievement_get_achievements`")  # noqa: E501
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params or
                params['session_id'] is None):
            raise ValueError("Missing the required parameter `session_id` when calling `game_achievement_get_achievements`")  # noqa: E501
        # verify the required parameter 'profile_i_ds' is set
        if ('profile_i_ds' not in params or
                params['profile_i_ds'] is None):
            raise ValueError("Missing the required parameter `profile_i_ds` when calling `game_achievement_get_achievements`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'call_num' in params:
            query_params.append(('callNum', params['call_num']))  # noqa: E501
        if 'connect_id' in params:
            query_params.append(('connect_id', params['connect_id']))  # noqa: E501
        if 'last_call_time' in params:
            query_params.append(('lastCallTime', params['last_call_time']))  # noqa: E501
        if 'session_id' in params:
            query_params.append(('sessionID', params['session_id']))  # noqa: E501
        if 'profile_i_ds' in params:
            query_params.append(('profileIDs', params['profile_i_ds']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/game/Achievement/getAchievements', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def game_achievement_get_available_achievements(self, call_num, connect_id, last_call_time, session_id, signature, **kwargs):  # noqa: E501
        """game_achievement_get_available_achievements  # noqa: E501

        No authentication needed  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_achievement_get_available_achievements(call_num, connect_id, last_call_time, session_id, signature, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param str signature: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.game_achievement_get_available_achievements_with_http_info(call_num, connect_id, last_call_time, session_id, signature, **kwargs)  # noqa: E501
        else:
            (data) = self.game_achievement_get_available_achievements_with_http_info(call_num, connect_id, last_call_time, session_id, signature, **kwargs)  # noqa: E501
            return data

    def game_achievement_get_available_achievements_with_http_info(self, call_num, connect_id, last_call_time, session_id, signature, **kwargs):  # noqa: E501
        """game_achievement_get_available_achievements  # noqa: E501

        No authentication needed  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.game_achievement_get_available_achievements_with_http_info(call_num, connect_id, last_call_time, session_id, signature, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int call_num: (required)
        :param str connect_id: (required)
        :param str last_call_time: (required)
        :param str session_id: (required)
        :param str signature: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['call_num', 'connect_id', 'last_call_time', 'session_id', 'signature']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method game_achievement_get_available_achievements" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'call_num' is set
        if ('call_num' not in params or
                params['call_num'] is None):
            raise ValueError("Missing the required parameter `call_num` when calling `game_achievement_get_available_achievements`")  # noqa: E501
        # verify the required parameter 'connect_id' is set
        if ('connect_id' not in params or
                params['connect_id'] is None):
            raise ValueError("Missing the required parameter `connect_id` when calling `game_achievement_get_available_achievements`")  # noqa: E501
        # verify the required parameter 'last_call_time' is set
        if ('last_call_time' not in params or
                params['last_call_time'] is None):
            raise ValueError("Missing the required parameter `last_call_time` when calling `game_achievement_get_available_achievements`")  # noqa: E501
        # verify the required parameter 'session_id' is set
        if ('session_id' not in params or
                params['session_id'] is None):
[...]
